<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css}">
<link
	th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css}"
	rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
	crossorigin="anonymous">
	
	<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
	crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/fAddress.css}">
<title>Add Contact</title>
<style type="text/css">
body {
	background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%);
}
li a:hover{
background-color: blue;
}
</style>
<script>
        function nameValidate(){
            if(document.addContact.cName.value.length >15){
                alert("only 10 letters are allowed");
            }
            if(/[^a-zA-Z[\s\]]/.test(document.getElementById("cName").value)){
                alert("Only Alphabets are allowed")
            }
           
        }
        function phoneValidation(){
            var phn=document.getElementById("cPhoneNumber").value
            var phnT = /^[0-9]{10}$/;
            if(!(phnT.test(phn))){
                alert("invalid phone number")
            }
        }
     </script>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" th:href="@{/homepage}"><b>Smart
				Contact Book</b></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link"
					th:href="@{/showContacts}">All Contacts</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/add}"
					style="background-color: Red">Add Contacts</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/getProfile}">view Profile</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/delete}">Logout</a>
				</li>
			</ul>
			<span class="navbar-text ml-auto" th:text="${user.uName}" style="text-align: right;">
				</span>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="well well-sm">
					<form class="form-horizontal" th:action="@{/addCont}"
						th:object="${contact}" method="post" name="addContact">
						<fieldset>
							<legend class="text-center header">Add Contact</legend>

							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i
									class="fa-solid fa-person"></i></span>
								<div class="col-md-8">
									<input id="cName" name="cName" field="*{cName}" type="text"
										placeholder="Contact Name" oninput="nameValidate()"
										class="form-control" required="required">
								</div>
							</div>


							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i
									class="fa-solid fa-phone"></i></span>
								<div class="col-md-8">
									<input id="cPhoneNumber" required="required"
										name="cPhoneNumber" field="*{cPhoneNumber}"
										onblur="phoneValidation()" type="tel" placeholder="Phone"
										class="form-control">
								</div>
							</div>
							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i
									class="fa-solid fa-envelope-open"></i></span>
								<div class="col-md-8">
									<input id="cEmail" required="required" name="cEmail"
										type="text" field="*{cEmail}" placeholder="Email Address"
										class="form-control">
								</div>
							</div>

							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i
									class="fa-solid fa-calendar-days"></i></span>
								<div class="col-md-8">
									<input id="birthDay" field="*{birthDay}" name="birthDay"
										type="date" class="form-control">
								</div>
							</div>

							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i
									class="fa-brands fa-instagram"></i></span>
								<div class="col-md-8">
									<input id="instagram" name="instagram" field="*{instagram}"
										type="text" placeholder="Instagram" class="form-control">
								</div>
 							</div>

							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i
									class="fa-brands fa-linkedin"></i></span>
								<div class="col-md-8">
									<input id="linkedIn" field="*{linkedIn}"
										placeholder="LinkedIn Profile" name="linkedIn" type="text"
										class="form-control">
								</div>
							</div>

							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i
									class="fa-brands fa-facebook"></i></span>
								<div class="col-md-8">
									<input id="facebook" field="*{facebook}" placeholder="Facebook"
										name="facebook" type="text" class="form-control">
								</div>
							</div>

							<br>

							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i
									class="fa-solid fa-user-group"></i></span>
								<!-- <div class="col-md-8">
                                    <input type="text" class="form-control" id="relation" field="*{relation}" name="relation" placeholder="Enter your Relation"> -->
								<strong>Relation</strong>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio"
										field="*{relation}" name="relation" id="option1"
										value="Friend"> <label class="form-check-label"
										for="option1">Friend</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio"
										field="*{relation}" name="relation" id="option2"
										value="Family"> <label class="form-check-label"
										for="option2">Family</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio"
										field="*{relation}" name="relation" id="option3" value="Work">
									<label class="form-check-label" for="option3">Work</label>
								</div>

								<!--  </div> -->
							</div>
							<div class="form-group">
								<input type="hidden" field="*{cuid}">
							</div>


							<br>

							<div class="form-group">
								<div class="col-md-12 text-center">
									<button type="submit" class="btn btn-primary btn-lg">Submit</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>